

.p{
  color:#fff;
  padding-left:150px;
  padding-right:150px;
  font-size: 25px;
}
.content{
  margin-top: 70px;
}
@media (min-width:320px) and (max-width: 575px){
  .p{
    font-size: 5vw;
    padding: 0;
  }
}
@media (min-width:576px) and (max-width: 765px){
  .p{
    font-size: 4.2vw;
    padding: 0;
  }
}
@media (min-width:766px) and (max-width:991px){
  .p{
    font-size: 2.7vw;
    padding: 0;
  }
}