

.p{
  color:#fff;
  padding-left:150px;
  padding-right:150px;
  font-size: 25px;
}
.content{
  margin-top: 70px;
}
@media (min-width:320px) and (max-width: 991px){
  .p{
    font-size: 5vw;
    padding: 0;
  }
}