$br: 20px;
.container {
  width: 1400px;
  margin: 0 auto;
  height: 5300px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

}

//TODO
@media (min-width: 320px) and (max-width: 475px) {
  .container {
    width: 100%;
    background-color: transparent;
    height: auto;
    .wrapper {
      width: 100%;
      height: auto;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      .article{
        width: 100%;
        background-color: transparent;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .articleItem{
          width: 90%;
          padding-bottom: 5px;

          li{
            padding-top:3vw;
          }
          .a{
            font-size:4vw
          }
        }
      }
      .main {
        width: 100%;
        .ul {
          margin: 0;
          .li {
            padding-left: 3vw;
          }
        }
        .a {
          font-size: 5vw;
        }
        .sectionTextBlock{
          background-color:transparent;
          width: 100%;
          height: auto;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          h1{
            padding-top: 20px;
            font-size: 10vw;
            margin: 0;
            text-align: center;
          }
          p{
            line-height: 1.7 ;
            text-align: center;
            padding: 0 10px;
            font-size: 5vw;
          }
        }
      }
    }
    .moreInfoBlock{
      height: auto;
      margin-top: 10px;
      gap:10px;
     .InfoBlock{
      width: 95%;
       margin-top: 0;
       h2{
        text-align: center;
         padding: 5px 10px 0px 10px;
         font-size: 4.5vw;
       }
       p{
         font-size: 4vw;
         text-align:left;
      }
  }
    }
  }
}
//TODO
.wrapper {
  margin-top: 10px;
  position: relative;
  width: 95%;
  height: 900px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: $br;
  gap: 20px;

  .a:hover {
    color: blueviolet;
    transition: all 0.4s ease-in-out;
  }
  .main {
    margin-top: 20px;
    width: 55%;
    height: 80%;
    section {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 50%;
      background-color: transparent;

      .sectionTextBlock {
        margin-top: 140px;
        width: 90%;
        height: 70%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        h1 {
          font-size: 80px;
          font-weight: 500;
          letter-spacing: 1px;
          margin-left: 40px;
        }
        p {
          text-align: justify;
          line-height: 40px;
          margin-top: 20px;
          font-size: 22px;
          padding: 0px 40px;
        }
        button {
          width: 200px;
          padding: 10px 25px;
          background-image: linear-gradient(
            to right,
            #25aae1,
            #40e495,
            #30dd8a,
            #2bb673
          );
          box-shadow: 0 10px 25px 0 rgba(49, 196, 190, 0.75);
          margin-right: 20px;
          margin-top: 20px;
          border-radius: 10px;
          border: none;
          font-size: 17px;
          letter-spacing: 2px;
          margin-left: 40px;
          text-transform: uppercase;
        }
        button:hover {
          transition: all 0.4s ease-in-out;
          transform: scale(1.05);
        }
      }
    }
  }
  .article {
    margin-top: 20px;
    width: 40%;
    height: 60%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .articleItem {
      width: 45%;
      height: 75%;
      background-color: rgba(53, 48, 48, 0.1);
      box-shadow: 0 5px 5px 0 rgba(49, 196, 190, 0.35);
      border-radius: 10px;

      li {
        list-style-type: none;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 10px;
      }
      .a {
        font-size: 17px;
      }
      .a:hover {
        transition: all 0.4s ease-in-out;
        color: rgba(49, 196, 190, 1);
      }
    }
  }
  .articleItem:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 10px 15px 0 rgba(49, 196, 190, 0.35);
  }
}
.moreInfoBlock {
  width: 95%;
  height: 4900px;
  background-color: transparent;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .InfoBlock {
    width: 90%;
    height: 20%;
    background-color: rgba(53, 48, 48, 0.1);
    box-shadow: 0 5px 5px 0 rgba(49, 196, 190, 0.35);
    border-radius: 20px;
    margin-top: 20px;

    h2 {
      font-weight: 400;
      padding-left: 30px;
      padding-top: 20px;
    }
    p {
      font-size: 17px;
      padding: 10px 30px;
      line-height: 25px;
    }
  }
  .InfoBlock:hover {
    transition: all 0.4s ease-in-out;
    background-color: rgba(53, 48, 48, 0.1);
    box-shadow: 0 10px 15px 0 rgba(49, 196, 190, 0.35);
    transform: scale(1.05);
  }
}

.ul {
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .li {
    padding-top: 20px;
    display: inline;
    padding-left: 20px;
  }
}
.a {
  color: white;
  font-size: 25px;
}
