.container{
    width: 1400px;
    margin: 0 auto ;
    height: 900px;
    background-color:transparent;
  }
.img{
  border-radius: 20px;
}
  .header{
    width: 100%;
    height: 120px; 
    display: flex;
    justify-content: space-between;
  }.a:hover{
     color: blueviolet;
     transition: all 0.3s ease-in;
   }
  .ul{
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .li{
    padding-top: 20px;
    display: inline;
    padding-left: 20px;
  }
  .title{
    padding: 50px 50px ;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight:500;
  }
  .a{
    font-size: 22px;
  }
  .main{
    width: 100%;
    height: 1200px;
  }
  .h2{
    text-align: center;
    padding:30px 0px ;
    font-weight: 500;
    font-size: 30px;
    color:#fff;
  }
  .main_TemItems{
    width: 800px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item{
    box-shadow: 0 0 0 1px blueviolet;
    border-radius: 20px;    
    width:45%;
    height: 25%;
    padding-top: 40px;text-align: center;
    margin-left: 40px;
    margin-bottom: 30px;
    position: relative;
    .overlay{
      position: absolute; /* Абсолютное позиционирование относительно родителя */
      top: 0;             /* Привязываем к верху */
      left: 0;        /* Помещаем слева от родителя, учитывая ширину */
      width: 60%;       /* Ширина overlay (должна совпадать с шириной item) */
      height: 100%;       /* Занимает всю высоту item */
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;           /* Изначально делаем невидимым */
      transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Плавная анимация left и opacity */
      z-index: 1; /* Гарантирует, что оверлей будет выше item */
      border-radius: 20px;
      li{
        list-style-type: none;
        font-size: 20px;
        line-height: 40px;
        color: #ffff;
      }
    }
    .overlay_right{
      position: absolute; /* Абсолютное позиционирование относительно родителя */
      top: 0;             /* Привязываем к верху */
      left: 0;        /* Помещаем слева от родителя, учитывая ширину */
      width: 60%;       /* Ширина overlay (должна совпадать с шириной item) */
      height: 100%;       /* Занимает всю высоту item */
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;           /* Изначально делаем невидимым */
      transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Плавная анимация left и opacity */
      z-index: 1; /* Гарантирует, что оверлей будет выше item */
      border-radius: 20px;
      li{
        list-style-type: none;
        font-size: 20px;
        line-height: 40px;
        color: #ffff;
      }
    }
  }
.item:hover .overlay{
  left: -62%;             /* При наведении выплывает к родителю */
  opacity: 1;
}
.item:hover .overlay_right{
  left: 102%;             /* При наведении выплывает к родителю */
  opacity: 1;
}
  .h3{
    font-weight: 500;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .item:hover{
    background-color: rgb(138, 43, 226);
    transition: all 0.3s ease-in-out;
    border:blueviolet;
    transform:scale(1.05);
    animation: backColorAnim linear 3s infinite
  }
  .main_TemItems:has(.item:hover) .item:not(:hover) {
    filter: blur(4px);
  }
  .item span{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #00e600;
    
  }
.spanLow{
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #00e600;
  font-weight: 700;

}
.item:hover .a{
  color: #fff;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 10px 25px 0 rgba(49, 196, 190, 0.75);
  transition: all .4s ease-in-out;
  padding: 3px 25px;
  border-radius: 5px;
  letter-spacing: 1px;

}

@keyframes backColorAnim{
    0%{
     background-color: blueviolet;
    }
    20%{
      background-color: #9f79ee;
    }
    40%{
      background-color:#bf00ff ;
    }
    50%{
      background-color: #8a2be2 ;
    }
    70%{
      background-color:#9f79ee ;
    }
    100%{
      background-color: blueviolet;
    }

  }
.footerTitle{
  text-align: center;
  letter-spacing: 2px;
  font-size: 25px;
}