//values
$br:20px;
@mixin bnt {
  background-color: red;
  padding: 5px 15px;
  color: white;
}

.container{
  width: 1400px;
  margin: 0 auto ;
  height: 1700px;
  display: flex;
  justify-content: center;
}
.h1{
  color:red;
}
.data_h1{
  text-align: center;
  padding-top: 20px;
  font-weight: 500;
}
.infoContent  {
  width: 90%;
  height: 450px;
  display: flex;
  gap:50px;
  justify-content: center;
  flex-direction: row;
  .infoContent_One{
    text-align: justify;
    width: 45%;
    height: 450px;
    border-radius: 10px;
  }
  .infoContent_Two{
    width: 35%;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-image:linear-gradient( 45deg ,#0289cf,#db51d9);
    border-radius: $br;
    .itemOne{
      width:100%;
      height:75%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  .itemTwo{
    width:100%;
    height:25%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    border-radius: $br;
    .backBtn{

      padding: 10px 25px;
      background-color: rgba(29, 22, 22, 0.58);
      margin-right: 20px;
      border-radius: 10px;
      border:none;
      width: 120px;
      font-size: 18px;
      letter-spacing: 2px;
    }
    .backBtn:hover{
      background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
      box-shadow: 0 10px 25px 0 rgba(49, 196, 190, 0.75);
      transition: all .4s ease-in-out;
    }
    .nextBtn{
      letter-spacing: 2px;
      width: 120px;
      padding: 10px 25px;
      background-color: rgba(29, 22, 22, 0.58);
      margin-left: 20px;
      border:none;
      border-radius: 10px;
      font-size: 18px;
    }
    .nextBtn:hover{
      transition: all .4s ease-in-out;
      background-image: linear-gradient(to right, #ed6ea0, #f7186a );
      box-shadow: 0 10px 25px 0 rgba(236, 116, 149, 0.75);
    }
  }
  }
}
.textBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 95%;
  height: 95%;
  background-color: rgba(29, 22, 22, 0.58);
  border-radius: $br;
  p{
    line-height: 30px;
    margin-top: 70px;
  }
}
.item:hover{
  transform: rotate(3deg);
  transition: all 0.3s ease-in-out;
  border:blueviolet;

}

.content{
  width: 100%;
  height:400px;
  p{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 23px;
    letter-spacing: 2px;
  }
}
.textBlock{
  width: 90%;
  height: 500px;
  background-color: rgba(29, 22, 22, 0.58);
}
.codePen{
  margin: 0 auto;
  width:90%;
  height:350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 22, 22, 0.58);
  border-radius: $br;
}
.videoBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 600px;
  border-radius: $br;
  background-color: rgba(29, 22, 22, 0.58);

 }
.wrapper{
  position: relative;
  width: 90%;
  height: 1600px;
  margin-top:70px;
  background-image:linear-gradient( 45deg ,#0289cf,#db51d9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: $br;
}

@keyframes backColorAnim{
  0%{
    background-color: blueviolet;
  }
  20%{
    background-color: #9f79ee;
  }
  40%{
    background-color:#bf00ff ;
  }
  50%{
    background-color: #8a2be2 ;
  }
  70%{
    background-color:#9f79ee ;
  }
  100%{
    background-color: blueviolet;
  }

}
.imgAuth{
  border-radius: 50%;
  margin-top: 70px;
}
.title{
  font-size: 50px;
  padding-top: 10px;
  font-weight: 500;
}
.img{
  margin-top: 20px;
  border-radius: 20px;
}




