:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #111;
  font-family: "Rubik", sans-serif;
  overflow: hidden;

  transform-origin: 50% 50%; /* Центр экрана */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-repeat: no-repeat;
  background-size: cover; /* Покрывает весь экран */
  background-position: center; /* ВАЖНО: центрирует круг */
  background-image: radial-gradient(circle, rgba(138, 43, 226, 0.2), transparent 70%);
  transition: background-image 0.3s ease, transform 0.2s ease;
}



@keyframes pulseBackground {
  0% {
    background-size: 100% 100%;
    background-position: center;
    background-image: radial-gradient(circle at center, rgba(138, 43, 226, 0.25), transparent);
  }

  50% {
    background-size: 140% 140%;
    background-position: center;
    background-image: radial-gradient(circle at center, rgba(138, 43, 226, 0.25), transparent);
  }

  100% {
    background-size: 100% 100%;
    background-position: center;
    background-image: radial-gradient(circle at center, rgba(138, 43, 226, 0.25), transparent);
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    font-family: "Rubik", sans-serif;
  }
}
