:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

body {
  color: #fff;
  background: #111;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: radial-gradient(circle at center, rgba(138, 43, 226, 0.2), transparent);
  background-repeat: no-repeat;
  background-size: 200% 200%;
  animation: pulseBackground 5s ease-in-out infinite;
}

@keyframes pulseBackground {
  0% {
    background-size: 100% 100%;
    background-position: center;
    background-image: radial-gradient(circle at center, rgba(138, 43, 226, 0.25), transparent);
  }

  50% {
    background-size: 140% 140%;
    background-position: center;
    background-image: radial-gradient(circle at center, rgba(138, 43, 226, 0.25), transparent);
  }

  100% {
    background-size: 100% 100%;
    background-position: center;
    background-image: radial-gradient(circle at center, rgba(138, 43, 226, 0.25), transparent);
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    font-family: "Rubik", sans-serif;
  }
}
