.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
 


.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.container{
  width: 1400px;
  margin: 0 auto ;
  height: 900px;
}
.header{
  width: 100%;
  height: 120px; 
  display: flex;
  justify-content: space-between;
}
.content{
  margin-top: 50px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-transform: uppercase;
  justify-content: center;
}
.footer{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px
}
.fronth1{
  color: blueviolet;
  font-size: 70px;
  letter-spacing: 7px;
  text-shadow: 0 0 5px blueviolet, 0 0 10px blueviolet, 0 0 15px blueviolet;
}
.footer button{
border-radius: 20px;
background-color: blueviolet;
border:none;
padding:10px 20px;
width:  200px;
font-size: 22px;
letter-spacing: 2px;

}.itemfooter{
  width: 200px;
  height: 280px;
  border:1px solid blueviolet;
  border-radius: 20px;

}
.itemfooter p{
  text-align: center;
  padding-top: 120px;
}
.footertitle{
  text-align: center;
  letter-spacing: 3px;
}
.itemfooter:hover{
  transition: all 0.5s ease;
  background-color:blueviolet;
  transform: scale(1.07);
}
.footer h2{
  text-align: center;
  font-weight: 500;
  padding-top: 80px;
  
}
.mainBlock{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px blueviolet;
}.mainBlock h1{
  padding-top: 100px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 2px;
}.mainBlock span{
  color: blueviolet;
}
.ul{
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.li{
  padding-top: 20px;
  display: inline;
  padding-left: 20px;
}
.h1{
  padding: 50px 50px ;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight:500;
}
.a{
  font-size: 22px;
}
 
 
 
 

  
  
  

  
  
  

  
  
  

  
  
  
  
  

  
  








